@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Montserrat:wght@300;400;600;700&display=swap");
/* ==========================Color variables =======================================*/

:root {
  --primary-background-color: #1a1c21;
  --linear-background: radial-gradient(
    ellipse at left,
    #43444a 0%,
    #000000 100%
  );
  --secondary-background-color: #43444a;
  --primary-text-color: #dddddd;
  --secondary-text-color: #8b8c8d;
  --transition: all 400ms ease;
  /* =========Breakpoints ================*/
  --bp-largest: 75em;
  --bp-medium: 50em;
  --bp-small: 37.5em;
}

/*====================== GENERAL SETUP ==========================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
}

#title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}

/* ========================WELCOME SECTION ( HERO SECTION )=========================================*/

#welcome-section {
  background-color: var(--primary-background-color);
  background: var(--linear-background);
  min-height: 100vh;
  position: relative;
}

#navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
.nav-items {
  display: flex;
  font-size: 1.4rem;
  width: 20rem;
  justify-content: space-between;
}
.nav-item {
  color: var(--secondary-text-color);
  font-size: 1.8rem;
}
.nav-item:hover {
  color: var(--primary-text-color);
  transition: var(--transition);
}

#welcome-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-text-color);
}

.name {
  font-size: 10rem;
}

#social-links {
  position: absolute;
  bottom: 5%;
  height: 20rem;
  left: 1%;
}

.social-item {
  padding: 1rem;
}
.social-icon {
  width: 25px;
  height: 25px;
  color: var(--primary-text-color);
}

@media only screen and (max-width: 400px) {
  #social-links {
    position: initial;
  }
  #social-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #welcome-title {
    top: 40%;
  }
}
/*===========================PROJECTS SECTION=====================================*/
#projects {
  background-color: var(--secondary-background-color);
  padding: 10rem;
}

#projects-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-tile {
  background-color: var(--primary-background-color);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  border-radius: 1rem;
}
.project-tile img {
  width: 95%;
  object-fit: cover;
  padding: 1rem;
  border-radius: 1rem;
}

.project-tile h3 {
  color: var(--primary-text-color);
  font-size: 1.6rem;
  margin-top: 1rem;
}
.project-tile p {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 400px) {
  #projects-area {
    justify-content: center;
  }
}

/* ========================CONTACT SECTION =========================================*/

#contact {
  background-color: var(--primary-background-color);
  background: var(--linear-background);
  height: auto;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10rem;
}

.contact__bloc {
  padding: 5rem;
}

.text {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
.contact__info {
  margin: 0 auto;
  max-width: 25rem;
  height: 15rem;
  margin-top: 5rem;
  text-align: center;
  padding: 2rem;
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
}

.contact__info h3 {
  font-size: 1.6rem;
  color: var(--primary-text-color);
  font-weight: 600;
  padding-top: 1.5rem;
}

.contact__info p {
  font-size: 1.4rem;
  padding-top: 1.5rem;
}

/*------FORM------*/
#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 6px 10px 5px rgba(0, 0, 0, 0.75);
  align-items: center;
}

input,
textarea {
  padding: 1.3rem;
  width: 90%;
  margin: 2rem auto;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondary-background-color);
}

input:focus,
textarea:focus {
  color: var(--primary-text-color);
}
textarea {
  overflow: hidden;
}

::placeholder {
  color: var(--secondary-text-color);
}

.btn {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  box-shadow: 14px 17px 5px -8px rgba(0, 0, 0, 0.86);
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1.5rem;
  margin: 2.5rem 0 3.5rem 0;
  display: block;
}

@media only screen and (max-width: 400px) {
  #contact {
    justify-content: center;
  }
}
