@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400;600;700&display=swap');
/* ==========================Color variables =======================================*/

:root {
  --primary-background-color: #1a1c21;
  --linear-background: radial-gradient(ellipse at left, #43444a 0%, #000000 100%);
  --secondary-background-color: #43444a;
  --primary-text-color:#dddddd;
  --secondary-text-color: #8b8c8d;

  --transition: all 400ms ease;

  /* =========Breakpoints ================*/
  --bp-largest: 75em;
  --bp-medium: 50em;
  --bp-small: 37.5em;
}

/*====================== GENERAL SETUP ==========================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.5rem;
  
}




/* ========================WELCOME SECTION ( HERO SECTION )=========================================*/

#welcome-section{
  background-color: var(--primary-background-color);
  background: var(--linear-background);
  height: 100vh;
  position: relative;
}

#navbar{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  
}
.nav-items{
  display: flex;
  font-size: 1.4rem;
  width: 20rem;
  justify-content: space-between;  
}
.nav-item{
  color: var(--secondary-text-color);
  font-size: 1.8rem;
}
.nav-item:hover{
  color: var(--primary-text-color);
  transition: var(--transition);
}

#welcome-title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--primary-text-color);
}

.name{
font-size: 10rem;
}

#social-links{
  position: absolute;
  bottom: 5%;
  height: 25rem;
  left: 1%;
}

.social-item{
  padding: 1rem;
}
.social-icon{
  width: 25px;
  height: 25px;
}